In [558]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [559]:
df = pd.read_csv("UCI_Credit_Card.csv", names = ["ID","LIMIT_BAL","SEX","EDUCATION","MARRIAGE","AGE","PAY_0","PAY_2","PAY_3","PAY_4","PAY_5","PAY_6","BILL_AMT1","BILL_AMT2","BILL_AMT3","BILL_AMT4","BILL_AMT5","BILL_AMT6","PAY_AMT1","PAY_AMT2","PAY_AMT3","PAY_AMT4","PAY_AMT5","PAY_AMT6","default.payment.next.month"])
df = df.drop([0])
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
1,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

# Conteúdo Original

## A base possui 30k itens e 25 atributos

* **ID**: ID of each client
* **LIMIT_BAL**: Amount of given credit in NT dollars (includes individual and family/supplementary credit
* **SEX**: Gender (1=male, 2=female)
* **EDUCATION**: (1=graduate school, 2=university, 3=high school, 4=others, 5=unknown, 6=unknown)
* **MARRIAGE**: Marital status (1=married, 2=single, 3=others)
* **AGE**: Age in years
* **PAY_0**: Repayment status in September, 2005 (-1=pay duly, 1=payment delay for one month, 2=payment delay for two months, ... 8=payment delay for eight months, 9=payment delay for nine months and above)
* **PAY_2**: Repayment status in August, 2005 (scale same as above)
* **PAY_3**: Repayment status in July, 2005 (scale same as above)
* **PAY_4**: Repayment status in June, 2005 (scale same as above)
* **PAY_5**: Repayment status in May, 2005 (scale same as above)
* **PAY_6**: Repayment status in April, 2005 (scale same as above)
* **BILL_AMT1**: Amount of bill statement in September, 2005 (NT dollar)
* **BILL_AMT2**: Amount of bill statement in August, 2005 (NT dollar)
* **BILL_AMT3**: Amount of bill statement in July, 2005 (NT dollar)
* **BILL_AMT4**: Amount of bill statement in June, 2005 (NT dollar)
* **BILL_AMT5**: Amount of bill statement in May, 2005 (NT dollar)
* **BILL_AMT6**: Amount of bill statement in April, 2005 (NT dollar)
* **PAY_AMT1**: Amount of previous payment in September, 2005 (NT dollar)
* **PAY_AMT2**: Amount of previous payment in August, 2005 (NT dollar)
* **PAY_AMT3**: Amount of previous payment in July, 2005 (NT dollar)
* **PAY_AMT4**: Amount of previous payment in June, 2005 (NT dollar)
* **PAY_AMT5**: Amount of previous payment in May, 2005 (NT dollar)
* **PAY_AMT6**: Amount of previous payment in April, 2005 (NT dollar)
* **default.payment.next.month**: Default payment (1=yes, 0=no)

In [560]:
print("Default Credit Card Clients data -  rows:",df.shape[0]," columns:", df.shape[1])

Default Credit Card Clients data -  rows: 30000  columns: 25

In [561]:
df.describe()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
count,30000,30000,30000,30000,30000,30000,30000,30000,30000,30000,...,30000,30000,30000,30000,30000,30000,30000,30000,30000,30000
unique,30000,81,2,7,4,56,11,11,11,11,...,21548,21010,20604,7943,7899,7518,6937,6897,6939,2
top,11897,50000,2,2,2,29,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
freq,1,3365,18112,14030,15964,1605,14737,15730,15764,16455,...,3195,3506,4020,5249,5396,5968,6408,6703,7173,23364

# Não há nenhum valor ausente. Todos os atributos estão preenchidos para todos os itens

In [562]:
total = df.isnull().sum().sort_values(ascending = False)
percent = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending = False)
pd.concat([total, percent], axis=1, keys=['Total', 'Percent']).transpose()

,default.payment.next.month,PAY_6,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,ID
Total,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Percent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Corrigindo o atributo Marriage
Trata-se de um atributo categórico em que 0 signfica desconhecido. Para os que não se sabe o status de relacionamento, serão substituídos por 3, que significa "outros".

In [563]:
df['MARRIAGE'] = df['MARRIAGE'].apply(lambda x: 3 if x==0 else x)

# Corrigindo atributo Education
1. Trata-se de um atributo categórico em que 5 e 6 significam desconhecido. Os casos em que que não se sabe o grau de escolaridade, serão substrituídos por 4 que significa "outros".
2. Será feita uma normalização transoformando os atributos categóricos em binários, criando 4 colunas referentes a educação

In [564]:
df['EDUCATION'] = df['EDUCATION'].apply(lambda x: 4 if (x==5 or x==6) else x)

In [565]:
#  EDUCATION: (1=graduate school, 2=university, 3=high school, 4=others)
EDU_graduateschool = df['EDUCATION'].astype(int).apply(lambda x: 1 if x == 1 else 0)
EDU_university = df['EDUCATION'].astype(int).apply(lambda x: 1 if x == 2 else 0)
EDU_highschool = df['EDUCATION'].astype(int).apply(lambda x: 1 if x == 3 else 0)
EDU_others = df['EDUCATION'].astype(int).apply(lambda x: 1 if x == 4 else 0)
df = df.drop(['EDUCATION'], axis=1)
df['EDU_graduateschool'] = EDU_graduateschool
df['EDU_university'] = EDU_university
df['EDU_highschool'] = EDU_highschool
df['EDU_others'] = EDU_others

# Normalizando valores muito grandes
Utilizando MinMaxScaler, a normalização é feita nos atributos LIMIT_BAL, AGE, BILL_AMT1, BILL_AMT2', BILL_AMT3, BILL_AMT4, BILL_AMT5, BILL_AMT6, PAY_AMT1, PAY_AMT2, PAY_AMT3, PAY_AMT4, PAY_AMT5 e PAY_AMT6

In [566]:
scaler = preprocessing.MinMaxScaler()

df[['LIMIT_BAL','AGE','BILL_AMT1','BILL_AMT2','BILL_AMT3','BILL_AMT4','BILL_AMT5','BILL_AMT6','PAY_AMT1','PAY_AMT2','PAY_AMT3','PAY_AMT4','PAY_AMT5','PAY_AMT6']] = scaler.fit_transform(df[['LIMIT_BAL','AGE','BILL_AMT1','BILL_AMT2','BILL_AMT3','BILL_AMT4','BILL_AMT5','BILL_AMT6','PAY_AMT1','PAY_AMT2','PAY_AMT3','PAY_AMT4','PAY_AMT5','PAY_AMT6']].astype(float))

# Normalizando SEX
Para todos que são 2, significando "feminino", será posto 0, ficando com 1 para masculino e 0 para feminino.

In [567]:
df['SEX'] = df['SEX'].astype(int).apply(lambda x: 0 if x == 2 else x)

# Normalizando Marriage
Criando colunas para cada tipo de status Status_married, Status_single, Status_others.

In [568]:
# Marital status (1=married, 2=single, 3=others)
Status_married = df['MARRIAGE'].astype(int).apply(lambda x: 1 if x == 1 else 0)
Status_single = df['MARRIAGE'].astype(int).apply(lambda x: 1 if x == 2 else 0)
Status_others = df['MARRIAGE'].astype(int).apply(lambda x: 1 if x == 3 else 0)
df = df.drop(['MARRIAGE'], axis=1)
df['Status_married'] = Status_married
df['Status_single'] = Status_single
df['Status_others'] = Status_others

# Normalizando PAY[0,2,3,4,5 e 6]
## PAY_0

In [569]:
df['PAY_0_duly'] = df['PAY_0'].astype(int).apply(lambda x: 1 if x == -1 else 0)
df['PAY_0_D1'] = df['PAY_0'].astype(int).apply(lambda x: 1 if x == 1 else 0)
df['PAY_0_D2'] = df['PAY_0'].astype(int).apply(lambda x: 1 if x == 2 else 0)
df['PAY_0_D3'] = df['PAY_0'].astype(int).apply(lambda x: 1 if x == 3 else 0)
df['PAY_0_D4'] = df['PAY_0'].astype(int).apply(lambda x: 1 if x == 4 else 0)
df['PAY_0_D5'] = df['PAY_0'].astype(int).apply(lambda x: 1 if x == 5 else 0)
df['PAY_0_D6'] = df['PAY_0'].astype(int).apply(lambda x: 1 if x == 6 else 0)
df['PAY_0_D7'] = df['PAY_0'].astype(int).apply(lambda x: 1 if x == 7 else 0)
df['PAY_0_D8'] = df['PAY_0'].astype(int).apply(lambda x: 1 if x == 8 else 0)
df['PAY_0_D9'] = df['PAY_0'].astype(int).apply(lambda x: 1 if x == 9 else 0)
df = df.drop(['PAY_0'], axis=1)

## PAY_2

In [570]:
df['PAY_2_duly'] = df['PAY_2'].astype(int).apply(lambda x: 1 if x == -1 else 0)
df['PAY_2_D1'] = df['PAY_2'].astype(int).apply(lambda x: 1 if x == 1 else 0)
df['PAY_2_D2'] = df['PAY_2'].astype(int).apply(lambda x: 1 if x == 2 else 0)
df['PAY_2_D3'] = df['PAY_2'].astype(int).apply(lambda x: 1 if x == 3 else 0)
df['PAY_2_D4'] = df['PAY_2'].astype(int).apply(lambda x: 1 if x == 4 else 0)
df['PAY_2_D5'] = df['PAY_2'].astype(int).apply(lambda x: 1 if x == 5 else 0)
df['PAY_2_D6'] = df['PAY_2'].astype(int).apply(lambda x: 1 if x == 6 else 0)
df['PAY_2_D7'] = df['PAY_2'].astype(int).apply(lambda x: 1 if x == 7 else 0)
df['PAY_2_D8'] = df['PAY_2'].astype(int).apply(lambda x: 1 if x == 8 else 0)
df['PAY_2_D9'] = df['PAY_2'].astype(int).apply(lambda x: 1 if x == 9 else 0)
df = df.drop(['PAY_2'], axis=1)

## PAY_3

In [571]:
df['PAY_3_duly'] = df['PAY_3'].astype(int).apply(lambda x: 1 if x == -1 else 0)
df['PAY_3_D1'] = df['PAY_3'].astype(int).apply(lambda x: 1 if x == 1 else 0)
df['PAY_3_D2'] = df['PAY_3'].astype(int).apply(lambda x: 1 if x == 2 else 0)
df['PAY_3_D3'] = df['PAY_3'].astype(int).apply(lambda x: 1 if x == 3 else 0)
df['PAY_3_D4'] = df['PAY_3'].astype(int).apply(lambda x: 1 if x == 4 else 0)
df['PAY_3_D5'] = df['PAY_3'].astype(int).apply(lambda x: 1 if x == 5 else 0)
df['PAY_3_D6'] = df['PAY_3'].astype(int).apply(lambda x: 1 if x == 6 else 0)
df['PAY_3_D7'] = df['PAY_3'].astype(int).apply(lambda x: 1 if x == 7 else 0)
df['PAY_3_D8'] = df['PAY_3'].astype(int).apply(lambda x: 1 if x == 8 else 0)
df['PAY_3_D9'] = df['PAY_3'].astype(int).apply(lambda x: 1 if x == 9 else 0)
df = df.drop(['PAY_3'], axis=1)

## PAY_4

In [572]:
df['PAY_4_duly'] = df['PAY_4'].astype(int).apply(lambda x: 1 if x == -1 else 0)
df['PAY_4_D1'] = df['PAY_4'].astype(int).apply(lambda x: 1 if x == 1 else 0)
df['PAY_4_D2'] = df['PAY_4'].astype(int).apply(lambda x: 1 if x == 2 else 0)
df['PAY_4_D3'] = df['PAY_4'].astype(int).apply(lambda x: 1 if x == 3 else 0)
df['PAY_4_D4'] = df['PAY_4'].astype(int).apply(lambda x: 1 if x == 4 else 0)
df['PAY_4_D5'] = df['PAY_4'].astype(int).apply(lambda x: 1 if x == 5 else 0)
df['PAY_4_D6'] = df['PAY_4'].astype(int).apply(lambda x: 1 if x == 6 else 0)
df['PAY_4_D7'] = df['PAY_4'].astype(int).apply(lambda x: 1 if x == 7 else 0)
df['PAY_4_D8'] = df['PAY_4'].astype(int).apply(lambda x: 1 if x == 8 else 0)
df['PAY_4_D9'] = df['PAY_4'].astype(int).apply(lambda x: 1 if x == 9 else 0)
df = df.drop(['PAY_4'], axis=1)

## PAY_5

In [573]:
df['PAY_5_duly'] = df['PAY_5'].astype(int).apply(lambda x: 1 if x == -1 else 0)
df['PAY_5_D1'] = df['PAY_5'].astype(int).apply(lambda x: 1 if x == 1 else 0)
df['PAY_5_D2'] = df['PAY_5'].astype(int).apply(lambda x: 1 if x == 2 else 0)
df['PAY_5_D3'] = df['PAY_5'].astype(int).apply(lambda x: 1 if x == 3 else 0)
df['PAY_5_D4'] = df['PAY_5'].astype(int).apply(lambda x: 1 if x == 4 else 0)
df['PAY_5_D5'] = df['PAY_5'].astype(int).apply(lambda x: 1 if x == 5 else 0)
df['PAY_5_D6'] = df['PAY_5'].astype(int).apply(lambda x: 1 if x == 6 else 0)
df['PAY_5_D7'] = df['PAY_5'].astype(int).apply(lambda x: 1 if x == 7 else 0)
df['PAY_5_D8'] = df['PAY_5'].astype(int).apply(lambda x: 1 if x == 8 else 0)
df['PAY_5_D9'] = df['PAY_5'].astype(int).apply(lambda x: 1 if x == 9 else 0)
df = df.drop(['PAY_5'], axis=1)

## PAY_6

In [574]:
df['PAY_6_duly'] = df['PAY_6'].astype(int).apply(lambda x: 1 if x == -1 else 0)
df['PAY_6_D1'] = df['PAY_6'].astype(int).apply(lambda x: 1 if x == 1 else 0)
df['PAY_6_D2'] = df['PAY_6'].astype(int).apply(lambda x: 1 if x == 2 else 0)
df['PAY_6_D3'] = df['PAY_6'].astype(int).apply(lambda x: 1 if x == 3 else 0)
df['PAY_6_D4'] = df['PAY_6'].astype(int).apply(lambda x: 1 if x == 4 else 0)
df['PAY_6_D5'] = df['PAY_6'].astype(int).apply(lambda x: 1 if x == 5 else 0)
df['PAY_6_D6'] = df['PAY_6'].astype(int).apply(lambda x: 1 if x == 6 else 0)
df['PAY_6_D7'] = df['PAY_6'].astype(int).apply(lambda x: 1 if x == 7 else 0)
df['PAY_6_D8'] = df['PAY_6'].astype(int).apply(lambda x: 1 if x == 8 else 0)
df['PAY_6_D9'] = df['PAY_6'].astype(int).apply(lambda x: 1 if x == 9 else 0)
df = df.drop(['PAY_6'], axis=1)

### Pondo a classe como ultima coluna

In [575]:
dfClass = df['default.payment.next.month']
df = df.drop(['default.payment.next.month'], axis=1)
df['Class'] = dfClass

# Conteúdo Normalizado

## A base possui 30k itens e 84 atributos

* **ID**: ID of each client
* **LIMIT_BAL**: Amount of given credit in NT dollars (includes individual and family/supplementary credit
* **SEX**: Gender (1 = male, 0 = female)

* **EDU_graduateschool**: EDUCATION is graduate school (1 = yes, 0 = no)
* **EDU_university**: EDUCATION is university (1 = yes, 0 = no)
* **EDU_highschool**: EDUCATION is high school (1 = yes, 0 = no)
* **EDU_others**: EDUCATION is others (1 = yes, 0 = no)

* **AGE**: Age in years

Repayment status in September, 2005
* **PAY_0_duly**: Pay duly
* **PAY_0_D1**: Payment delay for one month (1 = yes, 0 = no)
* **PAY_0_D2**: Payment delay for two months (1 = yes, 0 = no)
* **PAY_0_D3**: Payment delay for three months (1 = yes, 0 = no)
* **PAY_0_D4**: Payment delay for four months (1 = yes, 0 = no)
* **PAY_0_D5**: Payment delay for five months (1 = yes, 0 = no)
* **PAY_0_D6**: Payment delay for six months (1 = yes, 0 = no)
* **PAY_0_D7**: Payment delay for seven months (1 = yes, 0 = no)
* **PAY_0_D8**: Payment delay for eight months (1 = yes, 0 = no)
* **PAY_0_D9**: Payment delay for nine months and above) (1 = yes, 0 = no)

Repayment status in August, 2005
* **PAY_2_duly**: Pay duly (1 = yes, 0 = no)
* **PAY_2_D1**: Payment delay for one month (1 = yes, 0 = no)
* **PAY_2_D2**: Payment delay for two months (1 = yes, 0 = no)
* **PAY_2_D3**: Payment delay for three months (1 = yes, 0 = no)
* **PAY_2_D4**: Payment delay for four months (1 = yes, 0 = no)
* **PAY_2_D5**: Payment delay for five months (1 = yes, 0 = no)
* **PAY_2_D6**: Payment delay for six months (1 = yes, 0 = no)
* **PAY_2_D7**: Payment delay for seven months (1 = yes, 0 = no)
* **PAY_2_D8**: Payment delay for eight months (1 = yes, 0 = no)
* **PAY_2_D9**: Payment delay for nine months and above) (1 = yes, 0 = no)

Repayment status in July, 2005
* **PAY_3_duly**: Pay duly (1 = yes, 0 = no)
* **PAY_3_D1**: Payment delay for one month (1 = yes, 0 = no)
* **PAY_3_D2**: Payment delay for two months (1 = yes, 0 = no)
* **PAY_3_D3**: Payment delay for three months (1 = yes, 0 = no)
* **PAY_3_D4**: Payment delay for four months (1 = yes, 0 = no)
* **PAY_3_D5**: Payment delay for five months (1 = yes, 0 = no)
* **PAY_3_D6**: Payment delay for six months (1 = yes, 0 = no)
* **PAY_3_D7**: Payment delay for seven months (1 = yes, 0 = no)
* **PAY_3_D8**: Payment delay for eight months (1 = yes, 0 = no)
* **PAY_3_D9**: Payment delay for nine months and above) (1 = yes, 0 = no)

Repayment status in June, 2005
* **PAY_4_duly**: Pay duly (1 = yes, 0 = no)
* **PAY_4_D1**: Payment delay for one month (1 = yes, 0 = no)
* **PAY_4_D2**: Payment delay for two months (1 = yes, 0 = no)
* **PAY_4_D3**: Payment delay for three months (1 = yes, 0 = no)
* **PAY_4_D4**: Payment delay for four months (1 = yes, 0 = no)
* **PAY_4_D5**: Payment delay for five months (1 = yes, 0 = no)
* **PAY_4_D6**: Payment delay for six months (1 = yes, 0 = no)
* **PAY_4_D7**: Payment delay for seven months (1 = yes, 0 = no)
* **PAY_4_D8**: Payment delay for eight months (1 = yes, 0 = no)
* **PAY_4_D9**: Payment delay for nine months and above) (1 = yes, 0 = no)

Repayment status in May, 2005
* **PAY_5_duly**: Pay duly (1 = yes, 0 = no)
* **PAY_5_D1**: Payment delay for one month (1 = yes, 0 = no)
* **PAY_5_D2**: Payment delay for two months (1 = yes, 0 = no)
* **PAY_5_D3**: Payment delay for three months (1 = yes, 0 = no)
* **PAY_5_D4**: Payment delay for four months (1 = yes, 0 = no)
* **PAY_5_D5**: Payment delay for five months (1 = yes, 0 = no)
* **PAY_5_D6**: Payment delay for six months (1 = yes, 0 = no)
* **PAY_5_D7**: Payment delay for seven months (1 = yes, 0 = no)
* **PAY_5_D8**: Payment delay for eight months (1 = yes, 0 = no)
* **PAY_5_D9**: Payment delay for nine months and above) (1 = yes, 0 = no)

Repayment status in April, 2005
* **PAY_6_duly**: Pay duly (1 = yes, 0 = no)
* **PAY_6_D1**: Payment delay for one month (1 = yes, 0 = no)
* **PAY_6_D2**: Payment delay for two months (1 = yes, 0 = no)
* **PAY_6_D3**: Payment delay for three months (1 = yes, 0 = no)
* **PAY_6_D4**: Payment delay for four months (1 = yes, 0 = no)
* **PAY_6_D5**: Payment delay for five months (1 = yes, 0 = no)
* **PAY_6_D6**: Payment delay for six months (1 = yes, 0 = no)
* **PAY_6_D7**: Payment delay for seven months (1 = yes, 0 = no)
* **PAY_6_D8**: Payment delay for eight months (1 = yes, 0 = no)
* **PAY_6_D9**: Payment delay for nine months and above) (1 = yes, 0 = no)

* **BILL_AMT1**: Amount of bill statement in September, 2005 (Scaled between -1 and 1)
* **BILL_AMT2**: Amount of bill statement in August, 2005 (Scaled between -1 and 1)
* **BILL_AMT3**: Amount of bill statement in July, 2005 (Scaled between -1 and 1)
* **BILL_AMT4**: Amount of bill statement in June, 2005 (Scaled between -1 and 1)
* **BILL_AMT5**: Amount of bill statement in May, 2005 (Scaled between -1 and 1)
* **BILL_AMT6**: Amount of bill statement in April, 2005 (Scaled between -1 and 1)

* **PAY_AMT1**: Amount of previous payment in September, 2005 (Scaled between -1 and 1)
* **PAY_AMT2**: Amount of previous payment in August, 2005 (Scaled between -1 and 1)
* **PAY_AMT3**: Amount of previous payment in July, 2005 (Scaled between -1 and 1)
* **PAY_AMT4**: Amount of previous payment in June, 2005 (Scaled between -1 and 1)
* **PAY_AMT5**: Amount of previous payment in May, 2005 (Scaled between -1 and 1)
* **PAY_AMT6**: Amount of previous payment in April, 2005 (Scaled between -1 and 1)

Class
* **Class**: Default payment next month (1 = yes, 0 = no)

In [576]:
df.shape
df = df.drop('ID', axis=1)

# kNN

In [577]:
from sklearn.neighbors import KNeighborsClassifier

X = df.drop('Class', axis=1).values
y = df.Class.values

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

neigh = KNeighborsClassifier(n_neighbors=10)
#TREINAMENTO
neigh.fit(X_train, y_train) 

#TESTE

Test = neigh.predict(X_test)
Real = y_test

KNN_Falhas = round((np.sum(Test != Real)*100)/(Test.size), 2)
KNN_Acertos = round((np.sum(Test == Real)*100)/(Test.size), 2)
 

print("%s foram treinados e  %s testes foram feitos. Desses, %s tiveram resultado correto e %s falharam" % (y_train.size, Real.size, np.sum(Test == Real), np.sum(Test != Real)))
print("Resultado: %s falharam e %s acertaram" % (KNN_Falhas, KNN_Acertos))

21000 foram treinados e  9000 testes foram feitos. Desses, 7315 tiveram resultado correto e 1685 falharam
Resultado: 18.72 falharam e 81.28 acertaram

# Aplicando Keras

In [578]:
import tensorflow as tf
from keras import models
from keras import layers

In [579]:
model = models.Sequential()
model.add(layers.Dense(46, activation='relu', input_shape=(2460000,)))
model.add(layers.Dense(46, activation='relu'))
model.add(layers.Dense(1, activation='softmax'))

In [580]:
import math
from sklearn.model_selection import train_test_split, StratifiedKFold
import keras
from keras.models import Sequential, Model
from keras.layers import Input, Flatten, Dense, Dropout, Convolution2D, Conv2D, MaxPooling2D, Lambda, GlobalMaxPooling2D, GlobalAveragePooling2D, BatchNormalization, Activation, AveragePooling2D, Concatenate
from keras.preprocessing.image import ImageDataGenerator
from keras.callbacks import EarlyStopping, ModelCheckpoint, ReduceLROnPlateau
from keras.utils import np_utils

%matplotlib inline
keras.backend.set_image_data_format('channels_last')

In [581]:
def load_data_kfold(k):
    
    train = df
    
    X_train = np.array(df.drop('Class', axis=1).values)
    
    y_train = np.array(train["Class"].values)
    
    folds = list(StratifiedKFold(n_splits=k, shuffle=True, random_state=1).split(X_train, y_train))
    
    return folds, X_train, y_train

In [582]:
k = 7
folds, X_train, y_train = load_data_kfold(k)

In [583]:
def get_model():
    
    model = models.Sequential()
    
    model.add(layers.Dense(46, activation='relu', input_shape=(82,)))
    model.add(layers.Dense(46, activation='relu'))
    model.add(layers.Dense(1, activation='sigmoid'))
    
    model.compile(optimizer='rmsprop',
                  loss='binary_crossentropy',
                  metrics=['accuracy'])

    return model

In [584]:
model = get_model()
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_160 (Dense)            (None, 46)                3818
_________________________________________________________________
dense_161 (Dense)            (None, 46)                2162
_________________________________________________________________
dense_162 (Dense)            (None, 1)                 47
=================================================================
Total params: 6,027
Trainable params: 6,027
Non-trainable params: 0
_________________________________________________________________

In [585]:
for j, (train_idx, val_idx) in enumerate(folds):
    
    print('\nFold ',j)
    X_train_cv = X_train[train_idx]
    y_train_cv = y_train[train_idx]
    X_valid_cv = X_train[val_idx]
    y_valid_cv= y_train[val_idx]
    
    name_weights = "final_model_fold" + str(j) + "_weights.h5"
#     callbacks = get_callbacks(name_weights = name_weights, patience_lr=10)
#     generator = gen.flow(X_train_cv, y_train_cv, batch_size = batch_size)
    model = get_model()
    model.fit(X_train_cv,
              y_train_cv,
              epochs=10,
              batch_size=32)
    
    test_loss, test_accuracy = model.evaluate(X_valid_cv, y_valid_cv)
    print("Loss: %s | Accuracy: %s" % (test_loss, test_accuracy))

Fold  0
Epoch 1/10
25714/25714 [==============================] - 3s 112us/step - loss: 0.4530 - acc: 0.8111
Epoch 2/10
25714/25714 [==============================] - 2s 69us/step - loss: 0.4378 - acc: 0.8205
Epoch 3/10
25714/25714 [==============================] - 2s 61us/step - loss: 0.4364 - acc: 0.8218
Epoch 4/10
25714/25714 [==============================] - 1s 57us/step - loss: 0.4353 - acc: 0.8213
Epoch 5/10
25714/25714 [==============================] - 1s 58us/step - loss: 0.4350 - acc: 0.8213
Epoch 6/10
25714/25714 [==============================] - 1s 56us/step - loss: 0.4342 - acc: 0.8228
Epoch 7/10
25714/25714 [==============================] - 2s 62us/step - loss: 0.4337 - acc: 0.8225
Epoch 8/10
25714/25714 [==============================] - 2s 61us/step - loss: 0.4332 - acc: 0.8229
Epoch 9/10
25714/25714 [==============================] - 2s 60us/step - loss: 0.4327 - acc: 0.8235
Epoch 10/10
25714/25714 [==============================] - 2s 65us/step - loss: 0.4323 - acc: 0.8235
4286/4286 [==============================] - 0s 108us/step
Loss: 0.4381591381450374 | Accuracy: 0.8182454502198722

Fold  1
Epoch 1/10
25714/25714 [==============================] - 3s 103us/step - loss: 0.4554 - acc: 0.8093
Epoch 2/10
25714/25714 [==============================] - 1s 58us/step - loss: 0.4393 - acc: 0.8203
Epoch 3/10
25714/25714 [==============================] - 2s 60us/step - loss: 0.4377 - acc: 0.8217
Epoch 4/10
25714/25714 [==============================] - 2s 65us/step - loss: 0.4369 - acc: 0.8221
Epoch 5/10
25714/25714 [==============================] - 2s 59us/step - loss: 0.4358 - acc: 0.8217
Epoch 6/10
25714/25714 [==============================] - 2s 60us/step - loss: 0.4358 - acc: 0.8225
Epoch 7/10
25714/25714 [==============================] - 2s 61us/step - loss: 0.4351 - acc: 0.8229
Epoch 8/10
25714/25714 [==============================] - 2s 60us/step - loss: 0.4345 - acc: 0.8225
Epoch 9/10
25714/25714 [==============================] - 2s 61us/step - loss: 0.4339 - acc: 0.8227
Epoch 10/10
25714/25714 [==============================] - 2s 63us/step - loss: 0.4338 - acc: 0.8230
4286/4286 [==============================] - 0s 110us/step
Loss: 0.43361187990836547 | Accuracy: 0.8184787681099415

Fold  2
Epoch 1/10
25714/25714 [==============================] - 3s 114us/step - loss: 0.4513 - acc: 0.8141
Epoch 2/10
25714/25714 [==============================] - 2s 69us/step - loss: 0.4370 - acc: 0.8214
Epoch 3/10
25714/25714 [==============================] - 2s 64us/step - loss: 0.4353 - acc: 0.8219
Epoch 4/10
25714/25714 [==============================] - 2s 65us/step - loss: 0.4350 - acc: 0.8223
Epoch 5/10
25714/25714 [==============================] - 2s 61us/step - loss: 0.4346 - acc: 0.8223
Epoch 6/10
25714/25714 [==============================] - 2s 60us/step - loss: 0.4336 - acc: 0.8231
Epoch 7/10
25714/25714 [==============================] - 2s 70us/step - loss: 0.4332 - acc: 0.8236
Epoch 8/10
25714/25714 [==============================] - 2s 71us/step - loss: 0.4325 - acc: 0.8234
Epoch 9/10
25714/25714 [==============================] - 2s 73us/step - loss: 0.4322 - acc: 0.8246
Epoch 10/10
25714/25714 [==============================] - 2s 65us/step - loss: 0.4319 - acc: 0.8241
4286/4286 [==============================] - 1s 124us/step
Loss: 0.444703571912122 | Accuracy: 0.8175454970503098

Fold  3
Epoch 1/10
25714/25714 [==============================] - 3s 115us/step - loss: 0.4533 - acc: 0.8123
Epoch 2/10
25714/25714 [==============================] - 2s 62us/step - loss: 0.4373 - acc: 0.8206
Epoch 3/10
25714/25714 [==============================] - 2s 59us/step - loss: 0.4353 - acc: 0.8226
Epoch 4/10
25714/25714 [==============================] - 2s 59us/step - loss: 0.4349 - acc: 0.8215
Epoch 5/10
25714/25714 [==============================] - 2s 61us/step - loss: 0.4337 - acc: 0.8223: 0s - loss: 0.43
Epoch 6/10
25714/25714 [==============================] - 2s 59us/step - loss: 0.4331 - acc: 0.8224
Epoch 7/10
25714/25714 [==============================] - 2s 61us/step - loss: 0.4332 - acc: 0.8236
Epoch 8/10
25714/25714 [==============================] - 2s 60us/step - loss: 0.4319 - acc: 0.8232
Epoch 9/10
25714/25714 [==============================] - 2s 60us/step - loss: 0.4319 - acc: 0.8233
Epoch 10/10
25714/25714 [==============================] - 2s 60us/step - loss: 0.4314 - acc: 0.8230
4286/4286 [==============================] - 1s 121us/step
Loss: 0.44295508698553776 | Accuracy: 0.8203453104239005

Fold  4
Epoch 1/10
25714/25714 [==============================] - 3s 103us/step - loss: 0.4540 - acc: 0.8119
Epoch 2/10
25714/25714 [==============================] - 2s 66us/step - loss: 0.4384 - acc: 0.8197
Epoch 3/10
25714/25714 [==============================] - 2s 61us/step - loss: 0.4371 - acc: 0.8206
Epoch 4/10
25714/25714 [==============================] - 2s 67us/step - loss: 0.4361 - acc: 0.8211: 0s - loss: 0.4369 - acc: 0
Epoch 5/10
25714/25714 [==============================] - 2s 61us/step - loss: 0.4358 - acc: 0.8211
Epoch 6/10
25714/25714 [==============================] - 2s 61us/step - loss: 0.4351 - acc: 0.8225
Epoch 7/10
25714/25714 [==============================] - 2s 61us/step - loss: 0.4345 - acc: 0.8218
Epoch 8/10
25714/25714 [==============================] - 2s 62us/step - loss: 0.4338 - acc: 0.8221
Epoch 9/10
25714/25714 [==============================] - 2s 62us/step - loss: 0.4327 - acc: 0.8229
Epoch 10/10
25714/25714 [==============================] - 2s 62us/step - loss: 0.4326 - acc: 0.8231
4286/4286 [==============================] - 1s 125us/step
Loss: 0.4388108599897973 | Accuracy: 0.8212785812888366

Fold  5
Epoch 1/10
25715/25715 [==============================] - 3s 103us/step - loss: 0.4535 - acc: 0.8130
Epoch 2/10
25715/25715 [==============================] - 2s 60us/step - loss: 0.4386 - acc: 0.8205
Epoch 3/10
25715/25715 [==============================] - 2s 59us/step - loss: 0.4368 - acc: 0.8202
Epoch 4/10
25715/25715 [==============================] - 2s 59us/step - loss: 0.4359 - acc: 0.8216
Epoch 5/10
25715/25715 [==============================] - 2s 62us/step - loss: 0.4354 - acc: 0.8213
Epoch 6/10
25715/25715 [==============================] - 2s 62us/step - loss: 0.4346 - acc: 0.8213
Epoch 7/10
25715/25715 [==============================] - 2s 61us/step - loss: 0.4347 - acc: 0.8216
Epoch 8/10
25715/25715 [==============================] - 2s 62us/step - loss: 0.4342 - acc: 0.8218
Epoch 9/10
25715/25715 [==============================] - 2s 63us/step - loss: 0.4340 - acc: 0.8218
Epoch 10/10
25715/25715 [==============================] - 2s 61us/step - loss: 0.4333 - acc: 0.8220
4285/4285 [==============================] - 1s 125us/step
Loss: 0.4325646294248285 | Accuracy: 0.8238039673557082

Fold  6
Epoch 1/10
25715/25715 [==============================] - 3s 103us/step - loss: 0.4533 - acc: 0.8089
Epoch 2/10
25715/25715 [==============================] - 2s 63us/step - loss: 0.4372 - acc: 0.8193
Epoch 3/10
25715/25715 [==============================] - 2s 62us/step - loss: 0.4359 - acc: 0.8214
Epoch 4/10
25715/25715 [==============================] - 2s 61us/step - loss: 0.4348 - acc: 0.8227
Epoch 5/10
25715/25715 [==============================] - 2s 62us/step - loss: 0.4339 - acc: 0.8215
Epoch 6/10
25715/25715 [==============================] - 2s 62us/step - loss: 0.4335 - acc: 0.8230
Epoch 7/10
25715/25715 [==============================] - 2s 62us/step - loss: 0.4329 - acc: 0.8225: 1s - loss:
Epoch 8/10
25715/25715 [==============================] - 2s 61us/step - loss: 0.4324 - acc: 0.8230
Epoch 9/10
25715/25715 [==============================] - 2s 62us/step - loss: 0.4319 - acc: 0.8239
Epoch 10/10
25715/25715 [==============================] - 2s 61us/step - loss: 0.4312 - acc: 0.8234
4285/4285 [==============================] - 1s 125us/step
Loss: 0.4425395383439793 | Accuracy: 0.8212368727425851