In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn import preprocessing

import tensorflow as tf
from keras import models
from keras import layers

import math
from sklearn.model_selection import train_test_split, StratifiedKFold
import keras
from keras.models import Sequential, Model
from keras.layers import Input, Flatten, Dense, Dropout, Convolution2D, Conv2D, MaxPooling2D, Lambda, GlobalMaxPooling2D, GlobalAveragePooling2D, BatchNormalization, Activation, AveragePooling2D, Concatenate
from keras.preprocessing.image import ImageDataGenerator
from keras.callbacks import EarlyStopping, ModelCheckpoint, ReduceLROnPlateau
from keras.utils import np_utils

from IPython.display import Image
from IPython.core.display import HTML 

%matplotlib inline
keras.backend.set_image_data_format('channels_last')

Using TensorFlow backend.

# Conteúdo Original da Base

## 30k itens e 25 atributos

* **ID**: Um ID referente a cada cliente que, posteriormente, será ignorado uma vez que é irrelevante para o treino.
* **LIMIT_BAL**: A quntidade máxima em dólar de crédito concedido incluindo a parcela individual e para a família. 
* **SEX**: Caso o indivíduo em questão possuir sexo masculino, esse atributo será 1. Caso seja feminino, será 2.
* **EDUCATION**: Referente ao grau de escolaridade do indivíduo. Caso seja 1, trata-se de alguém com pós-graduação. Sendo 2, alguém que possui graduação. Caso tenha estudado até o colegial, irá constar 3 nesse atributo. Para qualquer outro nível de escolaridade, será 4. Quando 5 e 6, não se sabe a escolaridade do indivíduo.
* **MARRIAGE**: Referente ao status de relacionamento. Caso 1, trata-se de um indivíduo casado. Sendo 2, solteiro. Para outro tipo de relacionamento, nesse atributo constará o número 3. Caso o status do indivíduo seja desconhecido, estará 0.
* **AGE**: A idade do indivíduo em anos.
* **PAY_0**: Pagamento referente a Setembro de 2005. Caso 1, o pagamento foi feito devidamente. Caso entre 2 e 8, indica que o pagamento foi feito com atraso sendo o número referente a quantidade de meses desse atraso. Caso seja 9, significa que o pagamento foi feito com 9 ou mais meses de atraso. Para os demais atributos de PAY_2 a PAY_6, a mesma lógica de valores aplica-se.
* **PAY_2**: Pagamento referente a Agosto de 2005.
* **PAY_3**: Pagamento referente a Julho de 2005.
* **PAY_4**: Pagamento referente a Junho de 2005.
* **PAY_5**: Pagamento referente a Maio de 2005.
* **PAY_6**: Pagamento referente a Abril de 2005.
* **BILL_AMT1**: Valor da fatura em Setembro de 2005, em Dólar
* **BILL_AMT2**: Valor da fatura em Agosto de 2005, em Dólar
* **BILL_AMT3**: Valor da fatura em Julho de 2005, em Dólar
* **BILL_AMT4**: Valor da fatura em Junho de 2005, em Dólar
* **BILL_AMT5**: Valor da fatura em Maio de 2005, em Dólar
* **BILL_AMT6**: Valor da fatura em Abril de 2005, em Dólar
* **PAY_AMT1**: Quantia de pagamento anterior em Setembro de 2005, em dólar
* **PAY_AMT2**: Quantia de pagamento anterior em Agosto de 2005, em dólar
* **PAY_AMT3**: Quantia de pagamento anterior em Julho de 2005, em dólar
* **PAY_AMT4**: Quantia de pagamento anterior em Junho de 2005, em dólar
* **PAY_AMT5**: Quantia de pagamento anterior em Maio de 2005, em dólar
* **PAY_AMT6**: Quantia de pagamento anterior em Abril de 2005, em dólar
* **default.payment.next.month**: Referente a inadimplência do indivíduo no próximo mês. Com 1 representando a inadimplência e 0, a adimplência.

### Carregando o arquivo da base, UCI_Credit_Card.csv, e nomeando cada um dos seus atributos originais como explicado acima

In [2]:
df = pd.read_csv("UCI_Credit_Card.csv", names = ["ID","LIMIT_BAL","SEX","EDUCATION","MARRIAGE","AGE","PAY_0","PAY_2","PAY_3","PAY_4","PAY_5","PAY_6","BILL_AMT1","BILL_AMT2","BILL_AMT3","BILL_AMT4","BILL_AMT5","BILL_AMT6","PAY_AMT1","PAY_AMT2","PAY_AMT3","PAY_AMT4","PAY_AMT5","PAY_AMT6","default.payment.next.month"])
df = df.drop([0])
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
1,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [3]:
print("Default Credit Card Clients data -  rows:",df.shape[0]," columns:", df.shape[1])

Default Credit Card Clients data -  rows: 30000  columns: 25

In [ ]:
df.describe()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
count,30000,30000,30000,30000,30000,30000,30000,30000,30000,30000,...,30000,30000,30000,30000,30000,30000,30000,30000,30000,30000
unique,30000,81,2,7,4,56,11,11,11,11,...,21548,21010,20604,7943,7899,7518,6937,6897,6939,2
top,26128,50000,2,2,2,29,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
freq,1,3365,18112,14030,15964,1605,14737,15730,15764,16455,...,3195,3506,4020,5249,5396,5968,6408,6703,7173,23364

## Não há nenhum valor ausente. Todos os atributos estão preenchidos para todos os itens

In [ ]:
total = df.isnull().sum().sort_values(ascending = False)
percent = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending = False)
pd.concat([total, percent], axis=1, keys=['Total', 'Percent']).transpose()

,default.payment.next.month,PAY_6,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,ID
Total,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Percent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Keras

In [ ]:
model = models.Sequential()
model.add(layers.Dense(46, activation='relu', input_shape=(2460000,)))
model.add(layers.Dense(46, activation='relu'))
model.add(layers.Dense(1, activation='softmax'))



def load_data_kfold(k):
    
    train = df
    
    X_train = np.array((df.drop('default.payment.next.month', axis=1)).drop('ID', axis=1).values)
    
    y_train = np.array(train['default.payment.next.month'].values)
    
    folds = list(StratifiedKFold(n_splits=k, shuffle=True, random_state=1).split(X_train, y_train))
    
    return folds, X_train, y_train

k = 7
folds, X_train, y_train = load_data_kfold(k)

def get_model():
    
    model = models.Sequential()
    
    model.add(layers.Dense(46, activation='relu', input_shape=(23,)))
    model.add(layers.Dense(46, activation='relu'))
    model.add(layers.Dense(1, activation='sigmoid'))
    
    model.compile(optimizer='rmsprop',
                  loss='binary_crossentropy',
                  metrics=['accuracy'])

    return model


model = get_model()
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 46)                1104
_________________________________________________________________
dense_5 (Dense)              (None, 46)                2162
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 47
=================================================================
Total params: 3,313
Trainable params: 3,313
Non-trainable params: 0
_________________________________________________________________

In [ ]:
Keras_Accuracy_Antes = 0
Keras_Loss_Antes = 0

for j, (train_idx, val_idx) in enumerate(folds):
    
    print('\nFold ',j)
    X_train_cv = X_train[train_idx]
    y_train_cv = y_train[train_idx]
    X_valid_cv = X_train[val_idx]
    y_valid_cv= y_train[val_idx]
    
    name_weights = "final_model_fold" + str(j) + "_weights.h5"
    model = get_model()
    model.fit(X_train_cv,
              y_train_cv,
              epochs=10,
              batch_size=32)
    
    test_loss, test_accuracy = model.evaluate(X_valid_cv, y_valid_cv)
    
    Keras_Accuracy_Antes = (Keras_Accuracy_Antes + test_accuracy)
    Keras_Loss_Antes = (Keras_Loss_Antes + test_loss)
    
    print("Loss: %s | Accuracy: %s" % (test_loss, test_accuracy))

Fold  0
Epoch 1/10
25714/25714 [==============================] - 2s 84us/step - loss: 3.5654 - acc: 0.7788
Epoch 2/10
25714/25714 [==============================] - 1s 45us/step - loss: 3.5654 - acc: 0.7788
Epoch 3/10
25714/25714 [==============================] - 1s 46us/step - loss: 3.5654 - acc: 0.7788
Epoch 4/10
25714/25714 [==============================] - 1s 38us/step - loss: 3.5654 - acc: 0.7788
Epoch 5/10
25714/25714 [==============================] - 1s 38us/step - loss: 3.5654 - acc: 0.7788
Epoch 6/10
25714/25714 [==============================] - 1s 39us/step - loss: 3.5654 - acc: 0.7788
Epoch 7/10
25714/25714 [==============================] - 1s 39us/step - loss: 3.5654 - acc: 0.7788
Epoch 8/10
25714/25714 [==============================] - 1s 39us/step - loss: 3.5654 - acc: 0.7788
Epoch 9/10
25714/25714 [==============================] - 1s 41us/step - loss: 3.5654 - acc: 0.7788
Epoch 10/10
25714/25714 [==============================] - 1s 54us/step - loss: 3.5654 - acc: 0.7788
4286/4286 [==============================] - 0s 34us/step
Loss: 3.5650850679626322 | Accuracy: 0.7788147458505029

Fold  1
Epoch 1/10
25714/25714 [==============================] - 1s 55us/step - loss: 3.6072 - acc: 0.7761
Epoch 2/10
25714/25714 [==============================] - 1s 42us/step - loss: 3.5666 - acc: 0.7787
Epoch 3/10
25714/25714 [==============================] - 1s 41us/step - loss: 3.5666 - acc: 0.7787
Epoch 4/10
25714/25714 [==============================] - 1s 43us/step - loss: 3.5666 - acc: 0.7787
Epoch 5/10
25714/25714 [==============================] - 1s 45us/step - loss: 3.5666 - acc: 0.7787
Epoch 6/10
25714/25714 [==============================] - 1s 40us/step - loss: 3.5666 - acc: 0.7787
Epoch 7/10
25714/25714 [==============================] - 1s 42us/step - loss: 3.5666 - acc: 0.7787
Epoch 8/10
25714/25714 [==============================] - 1s 42us/step - loss: 3.5666 - acc: 0.7787
Epoch 9/10
25714/25714 [==============================] - 1s 40us/step - loss: 3.5666 - acc: 0.7787
Epoch 10/10
25714/25714 [==============================] - 1s 36us/step - loss: 3.5666 - acc: 0.7787
4286/4286 [==============================] - 0s 26us/step
Loss: 3.5650850503844076 | Accuracy: 0.778814745767062

Fold  2
Epoch 1/10
25714/25714 [==============================] - 1s 45us/step - loss: 3.6799 - acc: 0.7715
Epoch 2/10
25714/25714 [==============================] - 1s 39us/step - loss: 3.6025 - acc: 0.7765
Epoch 3/10
25714/25714 [==============================] - 1s 45us/step - loss: 3.6025 - acc: 0.7765
Epoch 4/10
25714/25714 [==============================] - 1s 48us/step - loss: 3.6025 - acc: 0.7765
Epoch 5/10
25714/25714 [==============================] - 1s 44us/step - loss: 3.6025 - acc: 0.7765
Epoch 6/10
25714/25714 [==============================] - 1s 43us/step - loss: 3.6025 - acc: 0.7765
Epoch 7/10
25714/25714 [==============================] - 1s 38us/step - loss: 3.6025 - acc: 0.7765
Epoch 8/10
25714/25714 [==============================] - 1s 39us/step - loss: 3.6025 - acc: 0.7765
Epoch 9/10
25714/25714 [==============================] - 1s 40us/step - loss: 3.6025 - acc: 0.7765
Epoch 10/10
25714/25714 [==============================] - 1s 47us/step - loss: 3.6025 - acc: 0.7765
4286/4286 [==============================] - 0s 48us/step
Loss: 3.6171600255685825 | Accuracy: 0.7755482966689601

Fold  3
Epoch 1/10
25714/25714 [==============================] - 1s 53us/step - loss: 6.2883 - acc: 0.6073
Epoch 2/10
25714/25714 [==============================] - 1s 42us/step - loss: 4.5178 - acc: 0.7188
Epoch 3/10
25714/25714 [==============================] - 1s 37us/step - loss: 3.5733 - acc: 0.7783
Epoch 4/10
25714/25714 [==============================] - 1s 38us/step - loss: 3.5733 - acc: 0.7783
Epoch 5/10
25714/25714 [==============================] - 1s 37us/step - loss: 3.5733 - acc: 0.7783
Epoch 6/10
25714/25714 [==============================] - 1s 44us/step - loss: 3.5733 - acc: 0.7783
Epoch 7/10
25714/25714 [==============================] - 1s 40us/step - loss: 3.5733 - acc: 0.7783
Epoch 8/10
25714/25714 [==============================] - 1s 40us/step - loss: 3.5733 - acc: 0.7783
Epoch 9/10
25714/25714 [==============================] - 1s 41us/step - loss: 3.5733 - acc: 0.7783
Epoch 10/10
25714/25714 [==============================] - 1s 39us/step - loss: 3.5733 - acc: 0.7783
4286/4286 [==============================] - 0s 31us/step
Loss: 3.563214455228389 | Accuracy: 0.7788147456001802

Fold  4
Epoch 1/10
25714/25714 [==============================] - 1s 48us/step - loss: 3.5751 - acc: 0.7782
Epoch 2/10
25714/25714 [==============================] - 1s 41us/step - loss: 3.5647 - acc: 0.7788
Epoch 3/10
25714/25714 [==============================] - 1s 45us/step - loss: 3.5647 - acc: 0.7788
Epoch 4/10
25714/25714 [==============================] - 1s 43us/step - loss: 3.5647 - acc: 0.7788
Epoch 5/10
25714/25714 [==============================] - 1s 41us/step - loss: 3.5647 - acc: 0.7788
Epoch 6/10
16320/25714 [==================>...........] - ETA: 0s - loss: 3.5624 - acc: 0.7790

In [ ]:
    Keras_Accuracy_Antes = Keras_Accuracy_Antes/k
    Keras_Loss_Antes = Keras_Loss_Antes/k
    print(Keras_Accuracy_Antes)
    print(Keras_Loss_Antes)

## Keras

In [ ]:
data = {'Antes':[Keras_Accuracy_Antes, Keras_Loss_Antes],
        'Depois':[Keras_Accuracy, Keras_Loss]} 

print("Antes \nAccuracy: %.2f  e Loss: %.2f \nDepois \nAccuracy: %.2f  e Loss: %.2f" % (Keras_Accuracy_Antes, Keras_Loss_Antes, Keras_Accuracy, Keras_Loss))

# Creates pandas DataFrame. 
dfResultados = pd.DataFrame(data, index =['Accuracy', 'Loss']) 

ax = dfResultados.plot.bar(rot=0)